.nav {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin: 2em 0;
}

.nav-ul {
  font-size: 1.2em;
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.nav img {
  height: 100%;
}

@media screen and (max-width: 500px) {
  .nav {
    justify-content: center;
  }
  .nav img {
    display: none;
  }
}
