@import url("./root.css");
@import url("./navbar.css");

.project-header {
  font-size: 4em;
  margin: 0.5em 0;
}

.project-grid {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.project-grid h4 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.project-grid p {
  opacity: 0.7;
}
.project-child {
  padding: 1em;
}
